<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comment</key>
	<string>A script and LaunchDaemon pair designed to leverage autopkg, AutoPkgr, JSSImporter, and Jamf Pro to keep apps on Mac endpoints up to date automatically. Details at: https://github.com/homebysix/auto-update-magic </string>
	<key>Label</key>
	<string>com.jamf.jamfnation.auto_update_magic</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>/Library/Scripts/auto_update_magic.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
